div(class="modal fade", tabindex="-1", role="dialog", id="aboutModal")
  div.modal-dialog
    div.modal-content
      div.modal-header
        button(type="button", class="close", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true").
            &times;
        h4.modal-title.
          О проекте
      div.modal-body
        p.
          Информационная система новостного агрегатора
        p.
          автор: Ивано Короленко ФИТУ 4-4а