div(class="modal fade", id="addRSSUrlModalLabel", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
        div.modal-content
          include parts/header
          include parts/body
          include parts/footer