extends layout

include includes/news/block
include includes/menu/main

block content
  div.container-all
    mixin main(data)
    mixin block(data)
  include includes/forms/add-url
  include includes/forms/about