mixin content(data)
  a(class="navbar-brand", href="#{data ? data.href: ''}")
    span.icon
      img(src="#{data ? data.icon: ''}" class="img-responsive" alt="")
    span.news-title.
      #{data ? data.title: ''}