div.col-sm-2.left-column
  ul.nav.main-menu
    li
      a(href="/").
        Главные новости
    li
      a(href="/social").
        Соцсети
    li.divider.divider-style
    li
      a(href="/finanshials").
        Экономика и финансы
    li
      a(href="/auto").
        Авто
    li
      a(href="/sport").
        Спорт
    li
      a(href="/builds").
        Недвижимость
    li.divider.divider-style
    li.js_show-add-url
      a(href="#").
        Добавить RSS url
    li.divider.divider-style
    li.js_show-about
      a.js_show-info(href="#").
        О проекте