ul.nav.navbar-nav.col-sm-12
  li.col-sm-2.logo
    a(href="/").
      &#9773; RSS-G
  li#title.col-sm-7.title-cont
    div.row.title.
      Экономика и финансы
  li(class = ['col-sm-1', 'js_set-filter'], data-filter='hour')
    a(href="#").
      Час
  li(class = ['col-sm-1', 'js_set-filter'], data-filter='day')
    a(href="#").
      Сутки
  li(class = ['col-sm-1', 'js_set-filter'], data-filter='all')
    a(href="#").
      Все