div.modal-header
  button(type="button", class="close", data-dismiss="modal")
    span(aria-hidden="true").
      &times
    span.sr-only.
      Close
  h4#addRSSUrlModalLabel.modal-title.
      New RSS-link